/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body{
		
		color: black;
		font-size: 15px;
		line-height: 1.5;
		font-family:  'Josefin Sans', sans-serif;

	}
	a{
		text-decoration: none;
		color: #262626;
	}
	ul{
		list-style: none;
	}

h1{
	text-align: center;
}

.fa-chevron-right{
    margin-left: 10px;
    font-size: 15px;

}
/** end hover 4*/
/** hover 5 */

.btn{
  
  
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  transition:.4s all;
  border: 2px solid #262626;
  color: #262626;
  font-weight: 400px;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  margin: 20px 20px;
  cursor: pointer;
  width: 180px;
}
.btn:before{
  content:'';
  position:absolute;
  width:0%;
  left:0;
  height:100%;
  background:#262626;
  transition:.3s;
  z-index:-1;
}
.btn:hover{
  color:#fff;
}
.btn:hover:before{
  width:100%;
}
/** end hover 5*/